@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;800&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #9c77c0;
}
a:hover {
  color: #c495f0;
}
li {
  list-style: none;
}

html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fafafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  height: 300vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  /* color: #252f3f; */
}
.button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #161e2e;
}

.navbar > h6 > a > img {
  width: 30px;
  padding-top: 6px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  /* margin-bottom: 0; */
}

.nav-link {
  /* font-size: 1rem; */
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: #c495f0;
}

.nav-logo {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #c495f0;
  font-weight: 500;
}

.nav-button a {
  width: 130px;
  height: 45px;
  border: solid 3px #c495f0;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button a:hover {
  background-color: #c495f0;
  color: white;
  transition: 0.3s;
}

.to-top {
  border: 3px solid #c495f0;
  border-radius: 5px;
  border-image-slice: 1;
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 20px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #c495f0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top:hover {
  border: none;
  background-color: #c495f0;
}
.to-top:hover > i {
  color: white;
}
.to-top.active {
  bottom: 20px;
  pointer-events: auto;
  opacity: 1;
}

/* main-body */
.main-slider {
  background-color: #161e2e;
  height: 92vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider-content {
  width: 55vw;
  padding: 5%;
}
.slider-content > .heading {
  font-size: 4rem;
}
.slider-content > .sub-heading {
  margin-top: -10px;
  font-size: 4rem;
  color: #c495f0;
}
.slider-content p {
  font-size: 1.15rem;
  margin-top: 1rem;
  color: #d2d6dc;
}
.sign-up {
  margin-top: 2rem;
}
.sign-up input {
  width: 60%;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0 3%;
}

.sign-up button {
  width: 25%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #c495f0;
  color: white;
}
.sign-up button:hover {
  background-color: #9c77c0;
}
.sign-up p {
  font-size: 0.8rem;
}
.slider-img {
  width: 45vw;
  overflow: hidden;
}
.slider-img img {
  width: 100%;
}

/* AI Analysis */
.ai-analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.ai-analysis > .heading {
  color: #161e2e;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.ai-analysis > .desc {
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
}
.ai-analysis p {
  color: #6b7280;
}
.part {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  align-items: center;
}
.part > .content {
  width: 55vw;
  padding: 0 5%;
}
.part > .content h2,
h3 {
  color: #161e2e;
}
.part > .content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.part h3 {
  font-weight: 500;
  margin: 1rem 0 0.5rem 0;
}
.typo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.typo > .text p {
  font-size: 0.9rem;
}
.typo > .icon i {
  color: white;
  font-size: 1.5rem;
  background-color: #c495f0;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.part > .photo {
  width: 45vw;
}
.part > .photo img {
  width: 80%;
}
.one-click {
  flex-direction: row-reverse;
}
.one-click > .photo img {
  margin-left: 20%;
}
/* fundamentals */
.fundamentals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9c77c0;
  padding: 8%;
}
.fundamentals p {
  color: #d2d6dc;
}
.fundamentals > .heading {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.fundamentals > .desc {
  font-size: 1rem;
  width: 70%;
  text-align: center;
}
.fundamentals > .row {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: stretch;
  justify-content: space-between;
}
.fundamentals > .row > .column {
  width: 28%;
}
.fundamentals > .row > .column h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.fundamentals > .row > .column p {
  font-size: 0.9rem;
}

/* blog */
.blog {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog > .heading {
  color: #161e2e;
  margin: 3rem 0;
}

.card_image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_content > a > .btn {
  color: #161e2e;
  padding: 0.8rem;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid #c495f0;
  border-radius: 5px;
  background: transparent;
}

.card_content > a > .btn:hover {
  background-color: #c495f0;
}
.card_content h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}

.card_title {
  color: #161e2e;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #161e2e;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* contact us */
.contact-us {
  background-color: #f9f4fd;
  padding: 4% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us > .heading {
  color: #161e2e;
  margin-bottom: 3rem;
}
.contact-us p,
a {
  font-size: 0.9rem;
}
.contact-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.contact-info {
  background-color: #c495f0;
  width: 40%;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-between;
}
.contact-info h1 {
  color: #161e2e;
  margin-bottom: 1rem;
}
.contact-info p {
  color: #424d5f;
  margin-bottom: 1rem;
}
.contact-info i {
  font-size: 1.2rem;
  background-color: #5a5a5a3a;
  color: #424d5f;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.contact-info i:hover {
  background-color: transparent;
}
.contact-info a {
  color: #424d5f;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.contact-form {
  width: 60%;
  color: #161e2e;
  border: 1px solid #c495f0;
  border-radius: 0 5px 5px 0;
  padding: 4%;
}

.contact-form label {
  font-size: 0.8rem;
  color: #424d5f;
}
.contact-form input,
textarea {
  padding: 10px;
  border: 1px solid #5a5a5a3a;
  border-radius: 5px;
  width: 80%;
  resize: vertical;
}
.contact-form button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #c495f0;
}
.contact-form button:hover {
  background-color: #9c77c0;
}

/* footer */
footer {
  background-color: #161e2e;
  /* height: 50vh; */
  padding: 5% 10%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
footer p {
  font-size: 0.8rem !important;
}
footer a {
  font-size: 0.8rem;
  color: #ffffff80;
}
footer a:hover {
  color: white;
}
footer > .brand {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}
footer > .brand > .part1 h1 {
  color: white;
  font-size: 1.7rem;
}
footer > .brand > .part1 > .socials {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}
footer > .brand > .part1 > .socials i {
  font-size: 1.5rem;
  color: white;
  padding: 6px 10px;
  background-color: #ffffff80;
  border-radius: 50%;
}
footer > .brand > .part1 > .socials i:hover {
  background-color: transparent;
}
footer > .brand > .part2 {
  display: flex;
  flex-direction: column;
  color: #ffffff80;
  margin-top: 15%;
}

footer > .quick-links {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer > .support {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer > .legal {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .heading {
  margin-bottom: 0.8rem;
  color: white;
  font-weight: 600;
}

/* small and medium screen */
@media only screen and (max-width: 768px) {
  .nav-logo img {
    width: 25px;
  }
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-menu {
    position: fixed;
    z-index: 999;
    overflow: hidden;
    right: -100%;
    top: 4.25rem;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    background: #fafafb;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    padding: 3.5% 8%;
    margin-top: 10%;
  }

  .nav-item > a {
    color: #161e2e;
  }

  .nav-menu {
    display: block;
  }

  .nav-link {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .main-slider {
    height: 86vh;
  }
  .main-slider {
    flex-direction: column;
  }
  .slider-content {
    width: 98vw;
  }
  .slider-content > .heading {
    font-size: 2.2rem;
  }
  .slider-content > .sub-heading {
    font-size: 2.2rem;
    margin-top: -5px;
  }
  .slider-content p {
    font-size: 1rem;
  }
  .sign-up {
    margin-top: 2rem;
  }
  .sign-up p {
    font-size: 0.6rem;
  }
  .sign-up input {
    width: 70%;
  }

  .sign-up button {
    width: 28%;
    letter-spacing: 0px;
  }
  .slider-img {
    width: 90vw;
  }

  /* AI Analysis */
  .ai-analysis > .heading {
    font-size: 1.9rem;
  }
  .ai-analysis > .desc {
    font-size: 1.1rem;
    width: 90%;
  }
  .part {
    flex-direction: column;
    margin-top: 1rem;
  }
  .part > .content {
    width: 95vw;
    padding: 0 5%;
  }
  .part > .content h2 {
    font-size: 1.5rem;
  }
  .part > .photo {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  .one-click > .photo img {
    margin-left: 0;
  }

  /* fundamentals */
  .fundamentals {
    padding: 20% 8% 3% 8%;
  }
  .fundamentals > .desc {
    width: 95%;
  }
  .fundamentals > .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fundamentals > .row > .column {
    width: 95%;
    margin-bottom: 3rem;
  }
  /* blog */
  .blog {
    width: 70%;
  }

  .cards_item {
    width: 90vw;
  }

  /* contact us */
  .contact-us > .heading {
    margin-top: 3rem;
  }
  .contact-card {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .contact-info {
    width: 95%;
    border-radius: 5px 5px 0 0;
  }
  .contact-form {
    width: 95%;
    border-radius: 0 0 5px 5px;
  }

  /* footer */
  footer > .brand {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    align-items: flex-start;
    gap: 25%;
    margin-right: 0;
  }

  footer > .quick-links {
    width: 50%;
    margin-top: 2rem;
  }
  footer > .support {
    width: 50%;
    margin-top: 2rem;
  }
  footer > .legal {
    width: 50%;
    margin-top: 2rem;
  }
  footer > .connect {
    width: 50%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 825px) and (orientation: landscape) {
  .main-slider {
    height: 82vh;
  }
  .nav-logo img {
    width: 25px;
  }
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-menu {
    position: fixed;
    z-index: 999;
    overflow: hidden;
    right: -100%;
    top: 4.25rem;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    background: #161e2e;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    padding: 0% 8% !important;
    margin: 0 !important;
  }

  .nav-item > a {
    color: white;
  }

  .nav-menu {
    display: block;
  }

  .nav-link {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-item {
    margin: 8% !important;
  }
  .slider-content > .heading {
    font-size: 1.8rem;
  }
  .slider-content > .sub-heading {
    font-size: 1.8rem;
    margin-top: -5px;
  }
  .slider-content p {
    font-size: 0.8rem;
  }
  .slider-content br {
    display: none;
  }
  .sign-up button {
    letter-spacing: 0px;
  }
  .sign-up p {
    font-size: 0.6rem;
  }
  .ai-analysis > .desc {
    width: 90%;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards_item {
    width: 60vw;
  }
}
@media only screen and (device-width: 768px) {
  .slider-img {
    width: 80vw;
  }
  .cards_item {
    width: 80vw;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  .slider-content br {
    display: none;
  }
  .card_content > .btn3 {
    margin-top: 1rem;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .main-slider {
    height: 90vh;
  }
  .nav-menu {
    width: 55%;
  }
  .slider-img img {
    width: 80vw;
    height: 50vh;
  }
  .slider-content p {
    font-size: 1.5rem;
  }
  .sign-up p {
    font-size: 1rem;
  }
  .slider-content br {
    display: none;
  }
}

@media only screen and (device-width: 1366px) and (device-height: 1024px) {
  .main-slider {
    height: 92.3vh;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  .nav-menu {
    width: 55%;
  }
}
